# Игнорируем исполняемые файлы
*.exe
*.exe~

# Игнорируем папки сборки
/bin/
/dist/

# Игнорируем кэш Go
/.go/

# Игнорируем системные файлы
.DS_Store
Thumbs.db

# Игнорируем IDE файлы (опционально)
.vscode/    # раскомментируйте если не хотите заливать настройки VS Code
